[2020-02-26 22:59] kujohn opened #1 "issues without `rg`"
I have ag installed but encountered error running with it alone. If I install `rg` it works great.

[2020-02-26 23:58] wallace11 commented on #1
Seems like the `any_jump_search_prefered_engine` is being overwritten by the plugin, regardless of what's set in vimrc. Manually running `let g:any_jump_search_prefered_engine = 'ag'` seems to work fine.

[2020-02-27 00:40] wbthomason opened #2 ""not found map definition for filetype 'cpp'""
As the title indicates, I get this error while attempting to use the plugin in a C++ file. Looking at the code in `generator/` it appears that you've generated regexes for a possible `c++` filetype, but Neovim uses `cpp` as the filetype for C++ files. This may also be an issue for other languages with a similar difference in language name and filetype name.

[2020-02-27 00:42] wbthomason opened #3 "Request: Option to not automatically make keymaps"
I would prefer to set my own global keybindings for this plugin. It would be helpful if there was a configuration variable to determine whether or not the plugin makes the default keybindings for a user.

[2020-02-27 04:00] wookayin commented on #2
Same issue for python. Vim uses `python` but rg expects `--type py` for python files. We should have a hard-coded mapping from vim-filetype names and to rg-filetype names.

[2020-02-27 07:41] pechorin commented on #1
I will try to remove rg and see how ag-only setup work, thanks

[2020-02-27 07:42] pechorin commented on #2
Thanks for report, i will fix it with providing language names aliases

[2020-02-27 07:45] pechorin commented on #3
@wbthomason you talk only about global key mappings? not about local buffer popup window?

[2020-02-27 09:36] wallace11 commented on #1
I simply check by running `:echo g:any_jump_search_prefered_engine` and find out that it's returning `rg` regardless of what I set in my vimrc...

[2020-02-27 13:23] pechorin commented on #1
@wallace11 @kujohn

Thanks, issue fixed in https://github.com/pechorin/any-jump.nvim/commit/d436b1b07cfac89c629bf14e676ed911d7c1392b

Please update plugin :)

[2020-02-27 13:23] #1 closed

[2020-02-27 13:25] pechorin commented on #1
Also i need to mention what `rg` and `ag` search results are different, so i need to recheck what kind of conditions it is.

[2020-02-27 13:32] pechorin commented on #3
For now i'm a little confusing about implementation.

Where are to ways:

1. user should explicitly set all keybindings in config by self
2. user should add `let g:any_jump_skip_default_keybindings` and explicitly add keybinds, otherwise default will be set
3. User can explicitly call `call g:AnyJumpSetupKeybinds()` (maybe with provided key configs for overriding defaults), otherwise no keybinding

[2020-02-27 13:42] pechorin commented on #3
@wbthomason fixed in https://github.com/pechorin/any-jump.nvim/commit/b8e30768475dac224ae983649ab9368b34eaadb3

so you can do

[code]

And write you own :) (for now)

[2020-02-27 14:10] pechorin commented on #2
@wbthomason cpp fixed :)

[2020-02-27 14:11] pechorin commented on #2
@wookayin python also fixed. Please update plugin and try .)

[2020-02-27 14:12] pechorin commented on #2
fixed in https://github.com/pechorin/any-jump.nvim/commit/dd466a688a2f321b097d6563244224b41ec3bdfa; please update plugin

[2020-02-27 14:12] #2 closed

[2020-02-27 14:13] #3 closed

[2020-02-27 14:55] pechorin opened #4 "First releases feedback"
Thanks for using first alpha releases. If you have any feedback about using this plugin/missing features/nice-staff-you-like and any other staff please let me know. This is very important for me.

In generally next big plan is:

- vim support
- "save search", "show 10 recent searches"
- ctags support

[2020-02-27 14:57] pechorin commented on #4
@kujohn @wallace11 @wbthomason @wookayin please let me know if you have any feedback/ideas ;) Thanks!

[2020-02-27 19:03] wbthomason commented on #3
@pechorin: Great, thank you! This is basically what I was after. It would be nice to be able to disable/customize the keybindings in the pop-up window as well, but that is (for me) much less of a concern. Thank you for the rapid response!

[2020-02-27 19:09] pechorin opened #6 "Keybindings configuration"
For now i'm a little confusing about keybindings config implementation

Where are several ways:

— user should explicitly set all keybindings in config by self
—user should add let g:any_jump_skip_default_keybindings and explicitly add keybinds, otherwise default will be set
—User can explicitly call call g:AnyJumpSetupKeybinds() (maybe with provided key configs for overriding defaults), otherwise

[2020-02-27 19:17] pixelgrid opened #7 "Unrecognized filetype javascript"
Hey, the plugin looks dope!

trying to test the plugin in javascript apps but i get this error
[code]
any pointers on what might be the issue?

[code]

[2020-02-27 19:22] wookayin commented on #4
Here are some quick (and minor) opinions of mine. I'd be happy to create an individual issue for each enhancement/new-feature item.

- I don't think line numbers are necessary.
- Once a focus to the floating window is lost, the window should disappear. Like many other plugins with floating window.
- The keyword (symbols) should be highlighted (e.g. as in fzf or vim-clap).
- I wish lilename & line

[2020-02-27 19:23] wookayin commented on #7
Related issue: #2

[2020-02-27 19:24] pechorin commented on #7
Okay, i will fix it now, this is important part :) (js support in general)

[2020-02-27 19:28] wookayin commented on #7
It would be great to have a complete enumeration over all filetypes you auto-generated for.

[2020-02-27 19:29] pechorin commented on #7
@pixelgrid fixed in https://github.com/pechorin/any-jump.nvim/commit/455db0b8b2cb3aee5474fdd3fb0dda70d39fb5b3

[2020-02-27 19:30] pixelgrid commented on #7
Can confirm it now shows results. Thanks for the quick fix

[2020-02-27 19:30] pechorin commented on #7
@wookayin yes, thanks for idea, now i understand what this is important part. I will also try to handle exotic vim filetypes like `es6` / `javascriptreact` (for now plugin will not work for my jsx files with javascriptreact filetype).

[2020-02-27 19:31] #7 closed

[2020-02-27 19:32] pixelgrid commented on #7
@pechorin while you implement the mapping on the go maybe you can give the option to have custom mappings through init.vim?

[2020-02-27 19:35] pechorin commented on #7
@pixelgrid i think this is nice idea, thank, will include this ability in my implementation.

[2020-02-27 19:46] pechorin commented on #4
@wookayin

Thanks for response, i will try to comment:

_>> I don't think line numbers are necessary._

+ Maybe you right, i also think about this, maybe disabling line numbers be default is okay for more compact UI.

_>> Once a focus to the floating window is lost, the window should disappear. Like many other plugins with floating window._

+ will implement this

_>> The keyword (symbols) should

[2020-02-27 23:16] pyrho opened #8 "Unrecognized filetype typescript"
Related to #7.

[2020-02-28 08:16] #8 closed

[2020-02-28 10:43] wadkar commented on #6
Typically, vim plugins do _not_ add keybindings as it is considered rude to pollute/override keybindings.

I like the another approach where plugin defines keybindings but provides an option to enable it like `let g:any_jump_enable_keybindings` with default set to `0` (i.e. disabled by default).

In this approach a TL;DR/quick setup section at the top of README can get a user quickly up and runnin

[2020-02-28 10:49] pechorin commented on #6
@wadkar thanks for your notes and explanation. As you notice currently i implement agressive keybinds setup :) Hope this is not very cruel for users.

[2020-02-28 10:54] wadkar commented on #6
It's fine for me, as I tend to read the docs and configure any plugin before `:source`ing my `$MYVIMRC`. I am looking forward to the fzf integration that's being discussed in the feedback thread. Floating windows are awesome, and doubly so with fzf!

[2020-02-28 10:56] pechorin commented on #6
if i will implement fzf support then this means what it will be separate ui :) maybe it's okay, will think about it. thanks for response :)

[2020-02-28 11:06] wadkar commented on #4
My very small 2 cents:

- I have observed and been told that it is a good practice to `augroup` your `aucmds`. So the documentation could be improved that shows keybindings for the floating window. For example,

---
Default mappings for popup search windows are as follows (feel free to override them):

[code]

---

- I think it's much easy for most users to interpret `0`/`1` as `v:false`/`v:true`.

[2020-02-28 11:21] pechorin commented on #4
@wadkar

_>> I have observed and been told that it is a good practice to augroup your aucmds._

Thanks, will do it :)

_>> I think it's much easy for most users to interpret 0/1 as v:false/v:true._

Yeah, you right, i will rewrite this.

_>> It would be great if the same is provided consistently._

Sorry, can't understand this. You mean ability to toggle help block? or about what? Sorry for misund

[2020-02-28 11:27] wadkar commented on #4
Oh no, it's fine. I probably could've phrased it better.

What I meant to say was: by default the help block should be present consistently. This was more forward looking statement given the discussion around fzf and how it'll be a different UI for AnyJump.

[2020-02-28 11:32] pechorin commented on #4
@wadkar so if i understand correct - you want ability to hide help block? :)

[2020-02-28 11:37] wadkar commented on #4
Yes, an option would be nice. But more importantly, I wanted to show my appreciation for the thought process to improve user experience.

[2020-02-28 12:00] Serjobas opened #10 "how to make it work in VSCode ?"
hello i'm now struggling with correct usage of your plugin in vscode, can you help me ?

[2020-02-28 12:32] pechorin commented on #10
lol %)

[2020-02-28 12:32] #10 closed

[2020-02-28 13:39] Serjobas commented on #10
kek

[2020-02-29 20:08] watzon opened #11 "Zig support"
First of all, this is amazing. Makes navigating code so much easier. I noticed support for [zig](https://ziglang.org) is missing though, which I know is to be expected. It's a lesser known language. Just thought I'd drop an issue here. I'm going to see if I can add it myself right now and get a PR in.

[2020-02-29 23:15] pechorin commented on #11
Thanks for response, @watzon :)

Currently i worked on vim support and some minor engine updates and changes, so i'm not in "new language support" phase :) I think new languages support is for next releases (maybe 1+ month from now). So i will add zig to "new languages list" in my next plans, but not for now (too many work should be done).

Adding new unsupported by rg/ag languages is not so hard,

[2020-02-29 23:47] watzon commented on #11
Sounds great! I’m going to try and figure out adding a language as things are now and see if I can get zig added so I can use it. A contributing guide would be an awesome addition as well.

[2020-03-03 03:02] AZanellato opened #14 "Ripgrep doesn`t always support PCRE2"
Hello! I managed to use the plugin by setting ag as the default engine, but didn't manage to use it with rg because my build of rg doesn't have PCRE2 support, which gives out the following error message:
[code]

I understand that maybe you don't want to support rg without PCRE2, but maybe a better error message?

Amazing plugin though!

[2020-03-03 08:08] pechorin commented on #14
Hello, thanks for report. I will try to add PCRE2 check for better error message :)

Also i think too many any-jump regexps uses PCRE2, so this is not in my road-map, but i think i will research this problem.

[2020-03-03 08:16] pechorin opened #15 "Vim support feedback"
Recently i releases vim support - https://github.com/pechorin/any-jump.vim/releases/tag/v0.2

Where a two main questions/problems for now:

- [x] j/k movement perfomance
- [x] popup window keybindings - is this okay?

[2020-03-03 14:26] pechorin commented on #15
Tested on fresh macvim 8.2 - perfomance is great.

[2020-03-05 19:05] pechorin commented on #11
@watzon now you can implement you own language support. look at new vars:

- `s:non_standard_ft_extensions_map` inside `autoload/search.vim`
- `s:filetypes_comments_map` inside `autoload/search.vim`
- `s:non_standard_ft_names` inside `autload/lang_map.vim` (additionally)

[2020-03-05 19:05] #11 closed

[2020-03-05 19:05] #15 closed

[2020-03-05 20:08] wookayin commented on #14
For future reference:

This often happens when one mistakenly have `rg` installed in their *anaconda* environments, which often supersedes in PATH. [The official prebuilt binaries](https://github.com/BurntSushi/ripgrep/releases) well support PCRE2.

[2020-03-05 21:43] pechorin commented on #4
Where are many improvements since. Please update plugin version and enjoy :)

[2020-03-05 21:43] #4 closed

[2020-03-05 21:54] deathmaz opened #20 "Error when using in .scss file"
Hi, i'm getting the following
![image](https://user-images.githubusercontent.com/6440135/76028847-15677680-5f3c-11ea-9d8b-46b1b12093fa.png)
when trying to use any-jump on .scss file.
Thanks for the nice work!

Edit:
`
NVIM v0.5.0-nightly-514-g31614d3eb
Build type: Release
LuaJIT 2.0.5
Compilation: /usr/local/Homebrew/Library/Homebrew/shims/mac/super/clang -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=1 -DND

[2020-03-06 00:33] ronakg opened #21 "Need a way to disable line number from the results window"
See the screenshot. I want to disable line numbers from the results window.

<img width="1102" alt="Screen Shot 2020-03-05 at 4 32 45 PM" src="https://user-images.githubusercontent.com/1058322/76038669-0e6e4300-5eff-11ea-96ad-4e9339180996.png">

[2020-03-06 01:28] tjwallace opened #22 "Ignore files not in git"
Is it possible to skip/ignore files that aren't tracked by git? I have some database/JSON dumps inside my project directory that make searching very slow.

[2020-03-06 05:14] numbcoder opened #23 "Remove whitespace from result window"
Awesome plugin, but some colorschemes highlight the whitespace, it looks weird.

<img width="532" alt="WX20200306-130914@2x" src="https://user-images.githubusercontent.com/281076/76054621-3ebfeb00-5fac-11ea-84db-129408c6f69f.png">

[2020-03-06 08:14] deathmaz commented on #20
thanks you for the fix!

or another option would be to make a configuration to specify which filetypes should work in `full` mode

[2020-03-06 08:17] deathmaz commented on #20
strange but when i'm doing `let g:any_jump_keyword_match_cursor_mode = 'full'` for `.scss` file i have this
![image](https://user-images.githubusercontent.com/6440135/76065032-7e2e0d80-5f93-11ea-9f96-f9b397ab2476.png)
without `let g:any_jump_keyword_match_cursor_mode = 'full'` i don't have the error

[2020-03-06 09:04] fcying opened #25 "auto close when vim updatetime trigger"
[code]
`<leader>j`,  and wait updatetime, popup window will be auto close.

nvim don't have this problem.

[code]

[2020-03-06 09:47] shapovalovts opened #26 "E474: Invalid argument"
On vim 8.2 + Ubuntu18 I constantly get this (on <leader>,):

[code]

ag is installed.

[2020-03-06 10:51] pechorin commented on #23
Thanks for response. Hmm, i should inspect this. Give me a little time.

[2020-03-06 11:52] crivotz commented on #21
Same issue, already tried with `et g:any_jump_list_numbers = 0` but without success

[2020-03-06 12:06] crivotz opened #27 "Colors and window border"
It might be a good thing to add a color and window border management like in FZF

![xxx](https://user-images.githubusercontent.com/3275600/76082233-27ccc900-5fab-11ea-9c43-1b386a795446.png)

[code]

Thanks for the great plugin, it will probably delete a couple of them from my vimrc

[2020-03-06 12:16] Blake-LeBlanc commented on #26
I'm running into the same issue.

Currently have Linux setup to run ag with

[https://github.com/ggreer/the_silver_searcher](https://github.com/ggreer/the_silver_searcher)

And integrated into vim's search with

[https://github.com/mhinz/vim-grepper](https://github.com/mhinz/vim-grepper)

[2020-03-06 12:16] pechorin commented on #27
Thanks for report, ui configuration is for next releases in my road map.

[2020-03-06 12:17] pechorin commented on #22
Will added this very soon.

[2020-03-06 12:17] pechorin commented on #21
Thanks for report, will fix it very soon.

[2020-03-06 13:16] pechorin commented on #21
Fixed in https://github.com/pechorin/any-jump.vim/commit/bda6d753e553aa54c0f130e7ab0b55ae9dc2692e

[2020-03-06 13:16] #21 closed

[2020-03-06 13:17] pechorin commented on #21
Please update plugins :)

[2020-03-06 13:21] maksimyugai commented on #26
Have the same issue:
[code]
![image](https://user-images.githubusercontent.com/6375643/76086908-49e03e80-5fdf-11ea-8632-409fa46cd9c1.png)

[2020-03-06 13:53] pechorin commented on #26
@maksimyugai sorry, i have some questions:

do you have aliased rg?
is rg installed?
only ag installed?

Thanks :)

[2020-03-06 13:54] pechorin commented on #26
I think i found the problem, will be fixed very very sone, please wait.

[2020-03-06 14:17] pechorin commented on #26
Fixed in https://github.com/pechorin/any-jump.vim/commit/934e54b24b0af7897204dd370d0c0066f6ddd57e

Please report if it's okay now :)

[2020-03-06 14:23] pechorin commented on #25
Hmm, i need to research on this.

[2020-03-06 14:28] pechorin commented on #25
Thanks for report, fixed in https://github.com/pechorin/any-jump.vim/commit/47022db2dff6c1ff125f48d266c22cc81c876f5d

[2020-03-06 14:28] #25 closed

[2020-03-06 14:51] pechorin commented on #26
@shapovalovts is it okay now?

[2020-03-06 15:19] Blake-LeBlanc commented on #26
Thanks for the quick follow-up @pechorin !

Unfortunately, it's still giving me the same errors, with ag installed.

[2020-03-06 15:20] pechorin commented on #26
@Blake-LeBlanc ok, will try to find it

[2020-03-06 17:05] tactualjota opened #28 "Windows GVim cannot open temp files"
When I call :AnyJump, I get the following error:
[code]

This is on Windows, with GVim installed with Choco, and 'rg' as the search engine. The same code works on ubuntu.

[2020-03-06 17:07] pechorin commented on #28
Thanks for report, will fix temp files soon

[2020-03-06 17:11] markwu opened #29 "Restricted s:RunRgUsagesSearch to search filetype only as s:RunAgDefinitionSearch"
Can we have an option to let  `s:RunRgUsagesSearch()` search same buffer filetype only  as `s:RunAgDefinitionSearch()` does.

I work with php project, and sometimes I have the same function name or class name in javascript.

If `s:RunRgUsagesSearch()` search for all filetypes, the result will become very big and annoying.

Therefore, I am asking for an option to let me search same buffer filetype

[2020-03-06 17:44] pechorin commented on #29
Thanks for response. I think this option is reasonable.

[2020-03-06 18:31] ronakg commented on #21
Thanks for the line number fix. The sign column is still showing up. Can you disable that as well for the results window?

[2020-03-06 19:12] shapovalovts opened #30 "E20: Mark not set"
When search in visual mode and then press Enter to jump to the definition, then it prints:
[code]

After that it opens the file correctly.

vim 8.2, Ubuntu 18.04.

[2020-03-06 21:49] idbrii opened #31 "Use settagstack to allow C-t to jump back and :tags"
Recent vim has settagstack() to set the tagstack. Calling that before moving the cursor for `:AnyJump` would allow users to use Ctrl-T to jump back to where they came from and to use `:tags` to see where they've been.

See examples in [vim-lsc](https://github.com/natebosch/vim-lsc/blob/b8a04ab0721c7383290ee997dd3bd491b8f5f93c/autoload/lsc/reference.vim#L22-L28) or [vim-lsp](https://github.com/prab

[2020-03-06 22:28] pechorin commented on #22
I think it fixed in https://github.com/pechorin/any-jump.vim/commit/59168eb78c6d48c62f0596416fdfe3e7e80f9e4f.

Please try to add to your vimrc:

[code]

[2020-03-06 22:28] #22 closed

[2020-03-06 22:29] pechorin commented on #29
I think i fix it in https://github.com/pechorin/any-jump.vim/commit/59168eb78c6d48c62f0596416fdfe3e7e80f9e4f.

Please try this:

[code]

[2020-03-06 22:29] #29 closed

[2020-03-06 22:30] pechorin commented on #26
Please report if issue is still occured.

[2020-03-06 22:36] pechorin commented on #28
I think it fixed in https://github.com/pechorin/any-jump.vim/commit/59168eb78c6d48c62f0596416fdfe3e7e80f9e4f

please check

[2020-03-06 22:36] #28 closed

[2020-03-06 22:38] pechorin commented on #23
@numbcoder can you tell me the colorscheme name you use?

[2020-03-06 22:41] pechorin commented on #31
:AnyJumpBack is unnecessary, i develop this feature because never use navigation though vim :tags :)

[2020-03-06 22:41] pechorin commented on #31
I will look and think about this. Thanks for report.

[2020-03-06 22:42] pechorin commented on #30
Thanks for report, i see this error twice ... but can't reproduce now. Sorry. Will try to find it and fix it

[2020-03-06 22:55] Blake-LeBlanc commented on #26
@pechorin Let me ask you this... How are you setting up vim's current search engine? Maybe I don't have it configured properly on my end?

Because as I noted above, I added `ag` into Linux with
https://github.com/ggreer/the_silver_searcher

And then integrating it into vim with:
https://github.com/mhinz/vim-grepper

Maybe if I follow what you've done to set up vim, I will get your plugin to work?

[2020-03-06 23:08] pechorin commented on #26
vim-grepper isn't problem because i do direct system() calls without any proxied methods. Hmm. Do you `PlugUpdate()` for latest any-jump version?

[2020-03-06 23:37] Blake-LeBlanc commented on #26
Yes, I'm on `c665d7a`. If you need me to send any further information, just let me know! Thank you @pechorin :)

[2020-03-06 23:42] pechorin commented on #26
@Blake-LeBlanc `c665d7a` is outdated :) please update plugin to today master https://github.com/pechorin/any-jump.vim/commit/c65a2f38977c87c661543a54d5917c8876ca009b

[2020-03-07 03:13] markwu commented on #29
Thanks, it works perfect for me.

[2020-03-07 03:28] numbcoder commented on #23
https://github.com/joshdick/onedark.vim and https://github.com/ntpeters/vim-better-whitespace

[2020-03-07 08:08] gfixler opened #32 "Hard to see things with the Apprentice colorscheme"
I'm using romainl's [Apprentice](https://github.com/romainl/Apprentice) colorscheme, but the text in the popup is hard to see.

![2020-03-07-000115_979x667_scrot](https://user-images.githubusercontent.com/1888391/76139661-2630ee80-6007-11ea-82af-dc6b519718ee.png)

[2020-03-07 11:46] blasco commented on #26
Hi, I have the same issue. I have the latest version and still not working. I have rg installed and this is my vim version:

[code]

[2020-03-07 12:42] optixx opened #34 "E474: Failed to parse zsh:1: no matches found"
- Using NVIM v0.4.3  on MacOS
- rg installed
- ag not installed
- default shell zsh
- When using `<leader>j` i get an error
<img width="764" alt="Screenshot 2020-03-07 at 13 39 37" src="https://user-images.githubusercontent.com/40823/76143619-3b466580-6079-11ea-9613-a8e81f96993a.png">

[2020-03-07 22:49] AZanellato commented on #14
Not only that. The installation through cargo doesn't support PCRE2 by default.

[2020-03-08 09:45] numbcoder opened #36 "Add key bindings to open in a new split or tab"
Add key bindings <kbd>t</kbd> / <kbd>s</kbd> / <kbd>v</kbd> to open file in a new tab, a new split, or in a new vertical split

[2020-03-08 15:41] BurntSushi commented on #14
If you're installing ripgrep with Cargo, you should be able to enable PCRE2 support via `cargo install ripgrep --features pcre2`.

Also, you all might consider using `--auto-hybrid-regex`. I don't know exactly how you're invoking ripgrep and what kind of regexes you're using, but enabling PCRE2 can be slower: https://github.com/BurntSushi/ripgrep/blob/master/FAQ.md#pcre2-slow (There are ways to ma

[2020-03-09 10:32] pechorin commented on #23
So, this is vim-better-whitespace effect :) fixed in https://github.com/pechorin/any-jump.vim/commit/1839b1a9e948be0a822c4c855d3cae55bd5e725e

[2020-03-09 10:32] #23 closed

[2020-03-09 10:50] Jayphen commented on #34
I'm getting the same error, it only started occurring in the past few days.

[2020-03-09 11:02] pechorin commented on #14
Okay, not all regexp rules use PCRE2 look-ahed/behind so i think i can enable --auto-hybrid-regex instead of strict --PCRE2

https://github.com/pechorin/any-jump.vim/commit/be4b64a6d4bbd82f8c5b076bf28666f150eea13a

Please try and let me know if it helps :)

[2020-03-09 11:02] #14 closed

[2020-03-09 11:10] pechorin commented on #30
Thanks for @neihc , fixed in https://github.com/pechorin/any-jump.vim/pull/37

[2020-03-09 11:10] #30 closed

[2020-03-09 11:18] pechorin commented on #26
Maybe this error was occured by required pcre2 support. Now this is dropped in - https://github.com/pechorin/any-jump.vim/commit/be4b64a6d4bbd82f8c5b076bf28666f150eea13a

@blasco can you update to latest version on try?
Also can you tell what language do use search and what keyword. I can't reproduce this on my system, so i need some help to investigate problem.

[2020-03-09 11:32] pechorin commented on #34
Sorry for error and late response. Fixed in https://github.com/pechorin/any-jump.vim/commit/997bf77cb566fe187ebb41b3ce5c702d26686cf5

Please update plugin.

[2020-03-09 11:32] #34 closed

[2020-03-09 13:20] pechorin commented on #36
Implemented in https://github.com/pechorin/any-jump.vim/commit/f181eff4f05baac6f8c335ba3ecd78dbbef298a8

thanks

[2020-03-09 13:20] #36 closed

[2020-03-09 14:52] blasco commented on #26
Last version is working fine, not sure what was causing the issue :)

[2020-03-09 15:07] numbcoder commented on #36
awesome！

[2020-03-09 16:30] pechorin commented on #20
@deathmaz i do rework on this part of plugin and now where is more proper way of selecting keyword: `g:any_jump_keyword_match_cursor_mode` is deprecated, use visual mode selection and same `<leader>j`.

https://github.com/pechorin/any-jump.vim/commit/dd0d413984a427dcf6ac052a34221f9de3306e6a

[2020-03-09 18:17] pechorin commented on #20
I think i fixed some problems in https://github.com/pechorin/any-jump.vim/commit/11c0fc991c716f8245c61ff39d73c815efe43961

Please update to this commit and let me know :)

[2020-03-09 18:17] #20 closed

[2020-03-09 19:15] pechorin commented on #27
Now you can customize any color via:

[code]

Added in https://github.com/pechorin/any-jump.vim/commit/330b5352338f6c6db2a3484025334c42f80c98d9
Please update plugin.

[2020-03-09 19:15] pechorin commented on #32
Now you can customize any color via:

let g:any_jump_colors = {
      \"plain_text":         "Comment",
      \"preview":            "Comment",
      \"preview_keyword":    "Operator",
      \"heading_text":       "Function",
      \"heading_keyword":    "Identifier",
      \"group_text":         "Comment",
      \"group_name":         "Function",
      \"more_button":        "Operator",
      \"m

[2020-03-09 19:15] #32 closed

[2020-03-09 19:22] pechorin opened #40 "Moving towards 1.0 version: roadmap & feedback wanted"
Current roadmap:

- [ ] paths priorities for better search results
- [ ] [nvim] ability to jump through preview text (and another keyword)
- [ ] show latest N search keywords in popup to save jumping history
- [ ] tags support

Please share your ideas.

[2020-03-09 19:29] pechorin commented on #27
Border support are welcome through pr ;)

[2020-03-09 19:29] #27 closed

[2020-03-09 19:33] deathmaz commented on #20
works fine i think, thank you!

[2020-03-09 19:41] pechorin commented on #40
@pyrho @markwu @khalidchawtany @watzon please let me know about missing features/staff you will like .)

[2020-03-09 20:09] watzon commented on #40
Mostly I'm excited to get ctags support. I feel like that will make a huge difference.

[2020-03-09 20:49] pechorin commented on #22
@tjwallace please notice what latest version of https://github.com/pechorin/any-jump.vim/commit/5a564e14eefa6e60c5dd304a52010a3391ffaa43 contains breaking change, where is no more `g:AnyJumpAddIgnoredFile` only `g:any_jump_ignored_files`.

[2020-03-10 06:57] rehrumesh opened #41 "any-jump can't be loaded: popup_menu support required"
Hi, I am new to vim, so bear with me.

I get following when I open VIM.

[code]

following is my .vimrc

[code]

[2020-03-10 08:47] pechorin commented on #41
What vim version do you use?

[2020-03-10 08:49] rehrumesh commented on #41
VIM - Vi IMproved 8.1 (2018 May 18, compiled Sep 05 2019 11:15:15)
Included patches: 1-875, 878, 884, 948, 1046, 1365-1368, 1382, 1401

OS: Ubuntu 19.10

[2020-03-10 08:50] pechorin commented on #41
Version 8.2 required :)

[2020-03-10 08:50] #41 closed

[2020-03-10 11:56] Blake-LeBlanc commented on #26
I'm still having the issue on my end with ag, on

615a7139fbb953c312f0d464e2f23fef5c3abb84

@shapovalovts Is it working for you yet with ag?

[2020-03-10 12:01] pechorin commented on #26
Okay, can you for now do `:let g:any_jump_search_prefered_engine = 'ag'`

Error message trace indicates what code run through rg-methods, this is strange.

[2020-03-10 12:48] AZanellato commented on #14
Thank you @pechorin and @BurntSushi !

[2020-03-10 16:59] Blake-LeBlanc commented on #26
Thank you for your quick reply @pechorin !

With that setting enabled, the error message now reads

https://imgur.com/a/pweriGI

[2020-03-10 17:07] pechorin commented on #26
@Blake-LeBlanc and last question - what's your working file filetype? (name/extension)

[2020-03-10 17:09] pechorin commented on #26
@Blake-LeBlanc also can you provide output of commands here:

[code]

I need to be sure what where are no aliases here

[2020-03-10 17:10] Blake-LeBlanc commented on #26
Both of these return `1`

[2020-03-10 17:14] pechorin commented on #26
@Blake-LeBlanc can you provide:

[code]

[2020-03-10 17:23] Blake-LeBlanc commented on #26
That returns `rg`

So I updated the global variable setting to be

`:let g:any_jump_search_prefered_engine = 'rg'`

and the error now reads

https://imgur.com/a/Uj3jO46

I was surprised it said `rg` though. I had tried installing ripgrep in the past a long time ago but ran into issues (maybe that has something to do with the problems?) Is there any way I could set the CurrentSearchEngine() to `ag`

[2020-03-10 17:36] pechorin commented on #26
You should update setting to

[code]

Also please try to upgrade ripgrep and ag (this matters).

The problem what error message is hidden. I think i should fix it for now.

[2020-03-10 17:40] pechorin commented on #26
Where are also some crazy way to remotly debug :)
Can you open and change source of any-jump plugin right on your pc?
You need to open `autoload/search.vim` on line 410 and basically add line:

[code]

i think where are some problems with raw results parsing maybe.

[2020-03-10 17:50] Blake-LeBlanc commented on #26
Added!

Also, I went ahead and removed ripgrep altogether so I only have ag installed, and your plugin now WORKS!!! Yay! :)

Thank you so much for your help @pechorin !

[2020-03-10 17:54] pechorin commented on #26
I still think what ripgrep was installed without some required feature support. I think i should add rg features check. Thanks for reporting. Close the report.

If you make screenshot of `echo string(a:raw_results)` please share, i need to see full error message :]

[2020-03-10 18:04] Blake-LeBlanc commented on #26
The error message output is

https://imgur.com/xDD0hQL

And just to clarify, here is the code I added per your request

https://imgur.com/uOLJsDA

What else can I do?

[2020-03-10 18:04] Blake-LeBlanc commented on #26
The error message output is

https://imgur.com/xDD0hQL

And just to clarify, here is the code I added per your request

https://imgur.com/uOLJsDA

What else can I do?

[2020-03-10 18:08] pechorin commented on #26
Hmm, thanks. I will be in thinking about this. Also glad what `ag` setup works for you.

[2020-03-11 14:14] milogert opened #42 "`g:any_jump_results_ui_style` seems backwards"
In the following lines it seems as though you are reversing how `filename_first` and `filename_last` are operating. In practice this does seem to be the case.

https://github.com/pechorin/any-jump.vim/blob/6c434d27c3866a897fc8ebe1257fe36433bef4b0/autoload/internal_buffer.vim#L406-L421

Other than that, it's been a great plugin! Excellent with React/JSX dev!

[2020-03-11 14:19] pechorin commented on #42
Thanks for error report :) fixed in https://github.com/pechorin/any-jump.vim/commit/98eea927468c1c1e6d376eca994862f404acaeb2

[2020-03-11 14:20] #42 closed

[2020-03-12 13:45] carelsarthur opened #43 "E474: unidentified byte error: found argument '--auto-hybrid-regex' which wasn't expected or isn't valid in this context"
- Using nvim  0.5.0-nightly snap
- Rg installed
- Ag not installed
- Default bash shell

When doing :AnyJump I get the following error:
`Error detected while processing function <SNR>47_Jump[30]..search#SearchDefinitions[28]..<SNR>56_RunRgDefinitionSearch[8]..<SNR>56_ParseRgRe
sults:
line    7:
E474: Unidentified byte: error: Found argument '--auto-hybrid-regex' which wasn't expected, or isn't val

[2020-03-12 13:48] pechorin commented on #43
Hello @carelsarthur, thanks for report. Which version of rg do you use?

[2020-03-12 14:13] carelsarthur commented on #43
When running rg --version I get the following output:
`ripgrep 0.10.0
-SIMD -AVX (compiled)
+SIMD +AVX (runtime)
`

[2020-03-12 14:30] pechorin commented on #43
--autho-hybrid-regexp added only in 11.0.0, i should notice this in readme, thanks

[2020-03-12 14:30] #43 closed

[2020-03-12 17:07] marlun commented on #40
I'm impressed how nice this works without much setup! 👍 In my experience these kind of plugins can often add too many features and become somewhat of a behemoth, I'm more for keeping it lightweight 😄

[2020-03-12 17:18] pechorin commented on #40
@marlun yeah, where are problem with ui complexity and i think i should care about it specially in context of ctags/refactoring support, think this new features should be pluggable.

[2020-03-12 19:25] dylanirlbeck opened #44 "Adding support for ReasonML"
Hello! This is a wonderful plugin, and I'm able to get a lot of utility out of it without support for [ReasonML](https://reasonml.github.io). I'm wondering if it's possible to add support for this language on your roadmap? Alternatively, I'd be happy to consider making a contribution, depending on the complexity of the task.

Just let me know, thanks so much!

[2020-03-12 19:32] pechorin commented on #44
Hello @dylanirlbeck, thanks for report and request. I don't think what this is a problem in general
https://github.com/pechorin/any-jump.vim/blob/master/autoload/lang_map.vim#L1416

But some work should done, and currently i'm not on the rails with reasonml, but you can contribute. I think new languages support is for after current roadmap plan for me (after 1.0 version).

[2020-03-12 19:33] pechorin commented on #44
Where are already some tests methods, which will help to test new syntax rules https://github.com/pechorin/any-jump.vim/blob/master/autoload/search.vim#L248

[2020-03-13 01:52] snide opened #45 "Shifting windows can get any-jump window stuck without exit"
Neat project. One thing I noticed was that if I use `<C-w><left>` or any other pane shifts, I can get trapped where the `AnyJump` window stays up. Here's a gif, if you look close you can see my cursor shift down to the file while the window still says up. I might suggest auto closing anyjump when the cursor focus is someplace else.

![](http://snid.es/250e265e2a1e/Screen%252520Recording%2525202020

[2020-03-13 04:23] b0o opened #46 "neovim: Error generating helptags: Mix of help file encodings within a language"
Neovim doesn't yet seem to support UTF-8 in help files. I get the following error message upon running `helptags`:

[code]

Due to the `—`, `⚒`, and `🔬` chars on line 1.

Related:

https://github.com/ryanoasis/vim-devicons/issues/162
https://github.com/ryanoasis/vim-devicons/pull/178
https://github.com/ryanoasis/vim-devicons/pull/163
https://github.com/vim/vim/issues/2213
https://github.com/neovim

[2020-03-13 10:01] pechorin commented on #45
Hello @snide, thanks for your report. I think this is predicatable behaviour :) this is fine in some terms. I think i will change this behaviour for nvim in next releases with additional option like ( auto_close_on_unfocus )

[2020-03-13 10:04] pechorin commented on #46
Hello @b0o, thanks for report. Fixed in https://github.com/pechorin/any-jump.vim/commit/0bc35858f2b855cdb927f485fb75bb89850de439 :)

[2020-03-13 10:04] #46 closed

[2020-03-13 10:12] pechorin commented on #46
@b0o please report if it helps or not

[2020-03-13 11:48] b0o commented on #46
Fixed, thank you. I wish the emojis worked in all cases, they made the docs 10x cooler.

[2020-03-13 20:06] Mike325 opened #47 "Support C/C++ macro and function prototype declarations"
Macros and functions prototypes declarations are mark as references or not find at all

[code]

[2020-03-13 20:12] pechorin commented on #47
Will add this in next releases, but language syntax additions not in current milestone :) (but any can help)
I should write guide.

[2020-03-13 20:25] Mike325 commented on #47
With a guide of how to extend definitions/references I could take a look and
make a PR to improve C/C++ cases 👍

[2020-03-14 16:38] pechorin commented on #40
@watzon i do some research on tags support question. i use gutentags for tags generation and this works great for autocompletion. i also noticed what tags file contains the same definitions results as any-jump do via syntax regexp rules. So i see only one reason to do tags support — is for perfomance, because sometimes (specially on large code base) searching for definitions can span to 3 and more

[2020-03-14 16:39] pechorin commented on #40
So, tags support is something what we do already, via our regexp rules engine.

[2020-03-14 17:45] watzon commented on #40
There is another reason to support tags. There are already tons of languages that ctags has support for, and it's really easy to write your own .ctags file to add support for another language. If you want to add support for another language here right now you have to make a pull request.

[2020-03-14 18:01] pechorin commented on #40
Hmm, okay, i looked at ctags support languages list and it's impressive.

[2020-03-14 18:54] watzon commented on #40
Yeah, and super easy to add support for a new language. So I think it's definitely worth doing.

[2020-03-15 05:33] markwu commented on #40
I use `ctags`, `global(gtags)` and `any-jump` at the same time, actually I like the simple of `any-jump`.

1. I don't need to `re-generate` `tags` file atfer I edited the files. I can just hit `<leader>j` to find all definitions and references on the fly. (altough, it might be slow for very big project)
2. `ctags` only support definitions, no references.
3. `global(gtags)` support far fewer langua

[2020-03-15 10:42] octavz opened #48 "Support ReasonML"
Would be nice to support ReasonML, a variant of OCaml.

Thank You

[2020-03-15 16:04] hoschi opened #49 "Colors don't look good for light theme"
I saw that I can configure some colors, but not the main background color, is this correct? Light themes are hard to read at the moment:

peachpuff (built in)
![2020-03-15-170214_1356x1370_scrot](https://user-images.githubusercontent.com/163128/76705247-de812580-66de-11ea-96dd-f9e54e31d4d8.png)

[solarized](https://github.com/lifepillar/vim-solarized8)
![2020-03-15-170118_1356x1370_scrot](https://

[2020-03-15 17:50] pechorin commented on #48
I see what reason ml is wonnable lannguage https://github.com/pechorin/any-jump.vim/issues/44 will try in next releases

[2020-03-15 17:53] pechorin commented on #49
Yeah,  see what any-jump not looks good in solarizied. I think i fix it in near release, thanks for support. For me it was not obvious moment while i developed current versionn of any-jump cause primarly i used ~5 themes, but now i see i need to test it more on some popular themes, maybe do some special bindings for most popular themes.

But currently you can configure your theme via `let g:any_ju

[2020-03-16 07:28] nrupatunga commented on #49
Sorry for the less knowledge on this,

Can you explain what these individual settings mean,
[code]

[2020-03-16 07:29] nrupatunga commented on #49
Is there a way to change the pop-up screen background color?

[2020-03-16 07:53] hoschi commented on #49
@nrupatunga you can map highlight groups to positions used in the plugin, e.g. "help" text should look like "Comment".
@pechorin I can't change the main background color with these settings, can I?

[2020-03-16 20:58] cschneid opened #50 "Fails with fish shell"
I use fish shell normally, and launch nvim through it. When calling :AnyJump, I get:

[code]

[2020-03-17 06:29] nrupatunga commented on #49
Thank you @hoschi . I got the hang of it.

[2020-03-17 09:44] pechorin commented on #50
Okay, thanks for report, will check it out.

[2020-03-17 13:58] bvicenzo opened #52 "Arrow keys on plugin window."
First of all, congrats on doing this plugin!
I've started to use it and loved it!
I have an improvement suggestion.
Some people that use my .vim are learning and use the arrow keys on the keyboard to navigate.
However, it's not working in the plugin window.
Is there a possibility of it works?

Thank you for your attention :)

[2020-03-17 16:05] Blake-LeBlanc opened #53 "Is it possible to exclude certain directories?"
There are certain directories that I do *NOT* want any-jump to search through when looking for matches.

Is there currently any setting to exclude certain directories from search results?

Thank you again for your great plugin!

[2020-03-17 18:53] pechorin commented on #52
Hello, @bvicenzo thanks for response and your suggestion, i think where is no problem with what, i will add what in near release.

[2020-03-17 18:56] pechorin commented on #53
Hello, @Blake-LeBlanc, can you try?

[code]

[2020-03-17 19:05] bvicenzo commented on #52
Very thanks.

[2020-03-17 19:43] Blake-LeBlanc commented on #53
That does the trick, thank you Andrey!

[2020-03-17 19:43] #53 closed

[2020-03-18 11:24] michalvalasek commented on #50
I'm having the same problem.

It looks like the problem might be on Fish's side since this wasn't happening last week and I haven't updated my any-jump clone in the meantime.

[2020-03-18 16:05] cschneid commented on #50
data point: I switched to bash, launched and still got the same error. So reproducing may require you to change your default shell (globally or vim? unsure) to fish.

[2020-03-18 16:42] pechorin commented on #50
i think you should try `:set shell=/bin/bash` but this is just a temp fix, sorry

[2020-03-18 16:51] pechorin commented on #50
Fixed in https://github.com/pechorin/any-jump.vim/commit/e5ecc73fb00a50097250106118a4b3414809497c, please report if it helps or not.

[2020-03-18 16:51] #48 closed

[2020-03-19 08:25] michalvalasek commented on #50
So I updated any-jump locally and tried it again.
- When I first `cd` into a project folder, then `vim .`, then go to a file via ctrl-P: **any-jump works**
- When I open the project dir directly like `vim ~/code/projectname` and then do the same: I'm **still getting the error**.

[2020-03-26 17:10] pechorin commented on #50
@cschneid is it fixed for you?

[2020-03-26 18:07] cschneid commented on #50
A quick check appears to be working. I haven't comprehensively tested, but a few lookups and jumps worked as expected.

Thank you!

[2020-03-26 18:12] pechorin commented on #50
Thanks, i will close it. Please report if any issue with fish shell, it should work fine.

[2020-03-26 18:12] #50 closed

[2020-03-26 18:29] cschneid commented on #49
I'm running into the same issue with illegible text on most of my themes. Can you control the color of the background of the popup box? The bright pink is not the best for most themes.

[2020-03-28 15:39] jen6 opened #54 "Is it support jump to the library function?"
Hi! It was so nice to use any-jump.vim. It increase my productivity a lot.
Is there feature like jump to the library function like installed from pip or else?
Or maybe have include path for finding references.
I hope support this feature too

[2020-03-29 17:45] blayz3r commented on #6
_I think this is the norm:_
— user can explicitly call call g:AnyJumpSetupKeybinds() (maybe with provided key configs for overriding defaults), otherwise no keybindings will set

[2020-04-06 20:27] marconetto opened #55 "position of the symbol in the preview window"
It seems the position of the symbol that is highlighted in the preview window is between first to third line. Is there a way to configure that or at least an option to make sure the highlighted symbol is in the middle of the space allocated to the preview text?  Some times I would like to see some text on the above of the highlighted symbol...
![image](https://user-images.githubusercontent.com/773

[2020-04-07 16:01] pechorin commented on #55
Hello, where are already `g:any_jump_preview_lines_count`, but this variables control only lines count after keyword. I will add new option for setting preview lines count before keyword.

[2020-04-07 17:09] marconetto commented on #55
Perhaps there could an option like g:any_jump_preview_centralize_symbol = 0|1. If 1, then the highlighted symbol gets centralized in the preview, that is the same number of lines is used above and below the highlighted symbol in the preview text area.

![image](https://user-images.githubusercontent.com/7735345/78698791-3cb5b880-78d9-11ea-92a2-3d01d1d96e4b.png)

[2020-04-09 12:44] taigacute opened #56 "Jump to definition support go source code."
like `Println` will jump to the source code `print.go`.

![image](https://user-images.githubusercontent.com/41671631/78896325-e5634400-7aa2-11ea-9338-33edab6a14c6.png)

[2020-04-09 12:56] pechorin commented on #56
Hello, thanks for issue. I think you looking for "search definitions in libraries paths". This feature is in my release plan, but currently i don't know how to implement libs paths detection for all kinds of languages. I think i will try provide integration with modern's package managers only (go mod, rubygems, etc)

[2020-04-09 12:57] pechorin commented on #54
@jen6 hello, thanks for report. This feature is in my roadmap and planned for next releases.
https://github.com/pechorin/any-jump.vim/issues/56
Thanks :)

[2020-04-09 12:57] #54 closed

[2020-04-09 13:04] taigacute commented on #56
@pechorin Thanks for your reply, I think the easiest way is to integrate with lsp to get the doc returned by the language server,Or refer to [dump-jump](https://github.com/jacktasia/dumb-jump) in emacs, it does not use lsp but provides accurate jump.

[2020-04-09 13:12] pechorin commented on #56
@taigacute where you find libraries lookup feature in dumb-jump? i don't see any of this abilities in dump-jump.el sources :/

[2020-04-09 13:33] taigacute commented on #56
I did n’t take a look at its implementation, but it is very accurate in the definition of jumps，This emacs package may be useful to you, this is just my suggestion. Thank you.

[2020-04-09 14:27] pechorin commented on #56
dump-jump.el is the main inspiration point for me :) original idea and regexp rules are comes from dumb-jump.el :) https://github.com/pechorin/any-jump.vim/blob/master/autoload/lang_map.vim#L2

[2020-04-09 14:30] taigacute commented on #56
@pechorin Ok, i saw it.

[2020-04-11 15:53] polaris6933 opened #57 "Disregard matches inside multi-line comments"
Say we have a function foo(). Somewhere in the codebase (e.g. some_file.cpp) a multi-line comment references it:

[code]

And when I try to find the definition for foo() I see `some_file.cpp:42 * This function wraps foo()` listed. Obviously this is undesired.

[2020-04-11 20:07] kjkuan opened #58 "The selection bar always starts at the bottom of the search popup window"
![dev_—_docker_—_266×61](https://user-images.githubusercontent.com/973329/79053794-eb296880-7c0d-11ea-9726-2f145bf4e249.png)

For some reason, the selection bar always starts at the bottom of the popup window (see screenshot above), so to select the first entry in this case I have to hit `j` three times to make it select the `s.rb:2 def a_method` line.

I'm using vim 8.2 (Included patches: 1-460)

[2020-04-13 14:54] domi91c opened #59 "Support for Vue.js and React.js"
I think this plugin would be perfect for component based Javascript frameworks. It already handles the references, but doesn't seem to pick up the definitions based on file name.

[2020-04-14 12:18] pechorin commented on #57
Yes, and the problem is what multiline comments handling is smth what can take much longer execution time, so i think i will check and maybe i can implement optional support for this.

[2020-04-14 12:20] pechorin commented on #59
Can you provide explanation and example? Is you looking for export var or smth?

[2020-04-14 12:49] leoatchina opened #60 "Feature request, self defined keymapping in popup/floating windows"
For example , I prefer  using `C-j`, `C-k` as `Up/Down` in popup windows

[2020-04-14 19:39] polaris6933 commented on #57
I think a good solution (at least for me :D) would be setting a regex (preferably specific for a file type) which, if matched, causes the result to be dropped.

For example: I setup the regex `^[\t ]*\*` for c++ files and any match for a function definition which also matches the regex will be excluded from the list of definitions. It would be a good idea to keep them in the list of references, th

[2020-04-15 03:19] domi91c commented on #59
Sorry, I didn't clarify. I meant for component tags inside the templates in Vue, for example.

For a template like the following, it'd be great if I could hover on `my-record`, and have AnyJump list the `MyRecord` component under Definitions. So far I haven't been able to find any Vim plugins that do this, even Vetur the Vue LSP doesn't seem to do this.

[code]

[2020-05-02 09:07] juniway opened #62 "Error when in git rebase editor"
when I do git rebase in terminal, I get this error

[code]

Vim version: 8.2
OS: Mac OS X
Terminal: iTerm 2

[2020-05-25 12:52] edzhelyov commented on #56
Hey, I assume you already have an idea of how to approach it. But I got it working by adding `bundle list --paths` to

[code]

If you expose the search path as variable and allow that to be configurable per language it will solve the issue of how to find definitions. I think reference should stay only in the current project.

The problem I hit is that the file paths are really long and you can't s

[2020-06-12 16:25] georgijd commented on #40
Hi, what a great project!

I'd like to suggest adding optional borders around the floating windows :)
[code]

Example plugins that have that feature are https://github.com/junegunn/fzf.vim and https://github.com/antoinemadec/coc-fzf

Also, it would be great to be able to set the background colour of the popup.

Thanks!

[2020-07-02 16:50] zhouyangnk commented on #49
same problem,  Can I change the color of the background of the popup box?

[2020-07-11 14:02] domi91c commented on #49
I'm unable to change the background color as well. It seems to be associated with the `Pmenu` highlight value, but I don't want to change completion menu's background colour if I don't need to.

[2020-07-13 13:51] domi91c opened #65 "Feature request: mapping to scroll to definitions or references"
I think it'd be convenient to be able to press a button to scroll to definitions or to references.

[2020-07-22 21:34] Blake-LeBlanc commented on #26
Hello Andrey!

I recently setup a new distro and ran into this issue again trying to get it to work with ag, but I think I figured out what was causing it.

In my `.vimrc` I was using the following configuration:

`let g:any_jump_search_preferred_engine = 'ag'`

Note the two R's in "preferred".

When I referenced this issue to use your suggestions, I noticed that the config option spells "prefered

[2020-08-06 06:08] ryuta69 commented on #49
Yeah same here.

[2020-08-09 04:08] tengteng commented on #49
domi91c is right. It's `Pmenu` in vim colorscheme config.
e.g, change/add below line in your `~/.vimrc/colors/WHATEVER_COLORSCHEME_U_R_USING.vim`

`hi Pmenu ctermbg=gray guibg=gray`

Will change popup_menu color to gray.

[2020-08-09 08:28] ryuta69 commented on #49
@tengteng I knew that, but it would be better if you can change theme.
For example, you can switch highlight when you command each time by Cmdenter and Cmdleave.
Just like that, if this plugin switch the highlight whenever the  menu popup, this achieves.

Maybe any other idea can do that, so just I'm hoping if this plugin suppports it

[2020-08-24 06:35] pseregiet opened #70 "No C support ? (works with cpp rules)"
There is no C support, however, just copy pasting the cpp related code and renaming the name to 'c' works fine :)

[2020-08-24 06:48] pseregiet opened #71 "E474: Failed to parse file"
I'm working with u-boot, it's a bootloader for linux (and other) and it happens to have some non-ascii stuff in one of  the headers (a font definition). AnyJumps fails to search for anything in this codebase because of this

Error detected while processing function <SNR>15_Jump[30]..search#SearchDefinitions[33]..<SNR>46_RunRgDefinitionSearch[8]..<SNR>46_Parse
RgResults:
line    7:
E474: Unidentifi

[2020-08-25 14:09] SevereOverfl0w opened #72 "Operator support"
Could you add operators for any jump?  That would make it possible to do something like `ajiw` to "anyjump" "inner word".  Instead of having to make a visual selection first.

[2020-08-30 18:03] Sharlock93 commented on #70
just changing the "filetype" in vim also makes it work

[2020-09-01 04:20] amerov opened #73 "Feature request: add searching for ruby bundler's paths"
vim-ruby adds to vim's path `bundle show --paths` output.
it will be nice if any-jump add searching for this paths.
Thanks.

[2020-09-10 21:06] pechorin commented on #49
I add section to readme about this problem:

https://github.com/pechorin/any-jump.vim/commit/a3c9ed3ef7f01ed188daf0c64a08bb1e474d3748

You should configure your Pmenu hl group. I try to find some ways to do local `hl Pmenu` but don't find anything usefull. Maybe nvim `winhl` can helps in some ways but i'm not sure.

So, thanks to all.

[2020-09-10 21:06] #49 closed

[2020-09-14 04:00] dsabsay commented on #58
This problem has bugged me for weeks, if not months. Finally sat down and fixed it. PR is open: #75

[2020-09-30 15:26] kylepollina commented on #40
Hello, love this plugin so far. A feature request I would like to see added would be the ability to move up a directory. Unless that would be handled with ctags/gutentags, my idea would be maybe something is defined in the parent directory, it would be useful to hit a button to 'go up one directory and re-run search'. Thanks!

[2020-10-09 15:36] #65 closed

[2020-10-09 15:37] domi91c commented on #65
It looks like AnyJump opens on the first result now, and there's a  function to go to references and back. I think this covers the this use-case.

[2020-10-12 16:04] tami5 opened #77 "Is there a way to add border?"
Hi there, Is there a way to add border to the floating window. It is so hard to distinguish between the buffer and the floating window.
Thanks

[2020-10-30 14:19] Moshem123 opened #78 "What's your beautiful colorscheme?"
What colorscheme do you use?
https://github.com/pechorin/any-jump.vim/blob/master/usages.png

BTW, love your plugin.
Thanks!

[2020-10-31 09:32] Moshem123 commented on #78
Found it, it's:
https://github.com/drewtempelmeyer/palenight.vim
Thanks!

[2020-10-31 09:32] #78 closed

[2020-11-06 11:36] pseregiet commented on #71
Bumping this issue because it happens in more repositories and it's really annoying. This plugin really rules and I don't want to change to another :( Please help.

Error detected while processing function <SNR>15_Jump[30]..search#SearchDefinitions[33]..<SNR>46_RunRgDefinitionSearch[8]..<SNR>46_ParseRgResult
s:
line    7:
E474: Unidentified byte: lib/fonts/font_8x8.c: PCRE2: error matching: UTF-8

[2020-12-01 21:31] NightH4nter commented on #77
Second this. It would be very useful.

[2020-12-07 23:08] pechorin commented on #58
Sorry for delay, review problems and try to fix them: https://github.com/pechorin/any-jump.vim/pull/75

[2020-12-07 23:14] pechorin commented on #58
fixed in https://github.com/pechorin/any-jump.vim/pull/79

[2020-12-07 23:14] #58 closed

[2020-12-07 23:15] pechorin commented on #77
Work on borders: https://github.com/pechorin/any-jump.vim/pull/74

[2020-12-07 23:42] tami5 commented on #77
@pechorin tried it, works very well, however an option to adjust the border value would be useful

[2020-12-07 23:42] pechorin commented on #56
@edzhelyov yeah, it's a very naive implementation without long paths names displaying.

But the problem is long gems/node-packages/any-other-package-manager directories lists - the searching execution time will be slow (async search is another big not-implemented story) so we should add:

- searching in all packages directories with some kind of `AnyJumpPackages`
- searching in 1/N packages direct

[2020-12-07 23:54] pechorin commented on #77
@tami5 i also think maybe it should have other border variants.

[2020-12-07 23:58] pechorin commented on #72
Not interested for me, visual mode is enough

[2020-12-07 23:58] #72 closed

[2020-12-08 00:03] pechorin commented on #71
<img width="491" alt="Снимок экрана 2020-12-08 в 03 01 40" src="https://user-images.githubusercontent.com/226270/101419742-b509c900-3901-11eb-8007-736bbd35b3df.png">

i cannot reproduce anything with https://gitlab.archlinux.org/dvzrv/linux-rt/-/blob/fe82702ad8dd2918a86949902fc2d1c0bc375274/lib/fonts/font_8x8.c#L474

can you provide example and search keyword?

[2020-12-08 00:05] pechorin commented on #73
dup https://github.com/pechorin/any-jump.vim/issues/56

[2020-12-08 00:05] #73 closed

[2020-12-08 00:08] pechorin commented on #70
yeah, i think c lang support is missing for now

[2020-12-08 00:14] pechorin commented on #26
WOW, thanks! :) I should fix spelling

[2020-12-08 00:37] pechorin commented on #70
fixed in https://github.com/pechorin/any-jump.vim/pull/80
please update plugin and tell me if searching still not working

[2020-12-08 00:37] #70 closed

[2020-12-08 00:43] pechorin commented on #59
can you try to use visual mode and AnyJump after this?

<img width="796" alt="Снимок экрана 2020-12-08 в 03 42 51" src="https://user-images.githubusercontent.com/226270/101422322-737c1c80-3907-11eb-8e18-a85984401739.png">

[2020-12-08 07:29] kristijanhusak commented on #77
@tami5 check https://github.com/pechorin/any-jump.vim/pull/74#issuecomment-740437636 for details how to configure the border

[2020-12-08 11:38] tami5 commented on #77
Nice, thanks @kristijanhusak

[2020-12-09 05:20] at8i commented on #26
Hello , I am having the same problem with .cpp project that I am working on :
![Screenshot-20201209084152-942x122](https://user-images.githubusercontent.com/14347972/101587953-86234e00-39fa-11eb-914a-e7d2e30e70f1.png)
I installed ripgrep and any-jump  and configured it to use rg with :
`let g:any_jump_search_prefered_engine= 'rg' `
I got the error shown in the picture.
2- I installed ag and used a

[2020-12-10 12:41] pechorin commented on #62
this means what your environment vim version is outdated and you should change default editor to you up-to-date vim

[2020-12-10 12:41] #62 closed

[2020-12-10 17:34] at8i opened #81 "An option for specifying the directory for ag or rg"
An option for specifying the directory in which ag or rg will parse through. I noticed that if I run ag or rg through my project's src directory(C++), it will map everything. Especially ag  seems to work just fine without E474 bug. (E474 bug with rg but no bug with ag). The problem is ag is not searching the right directory . So if it was possible to let ag know which directory it should be search

[2021-01-20 16:47] #52 closed

[2021-01-28 14:48] tux255 commented on #59
Would be nice to make it work for React.js components.

[2021-02-08 20:06] flwyd commented on #81
A couple things I'd love to see:

* Determine the search directory from the file path.  I noticed that if I'm in `~/foo/bar` and I edit `~/project/src/code.py`, any-jump doesn't find anything, since the code isn't in my working directory.
* Ability to specify an explicit list of directories to search.   I often work in a large monorepo; searching the whole thing with ag/rg is not possible, but the

[2021-02-13 07:57] plateena opened #84 "Error when running any-jump command on fish shell"
I got an error when running :AnyJump
![image](https://user-images.githubusercontent.com/11329461/107845111-196e6a80-6e14-11eb-8d6b-8729ffb97265.png)

[2021-02-16 12:24] pseregiet commented on #71
--
Sorry for the very late reply... I have fixed this problem myself by adding --no-pcre2-unicode argument to rg in the autoload/search.vim file.
`diff --git a/autoload/search.vim b/autoload/search.vim
index bd95509..fad4a85 100644
--- a/autoload/search.vim
+++ b/autoload/search.vim
@@ -3,7 +3,7 @@
 let s:regexp_keyword_word = 'KEYWORD'
 let s:engines             = ['rg', 'ag']

-let s:rg_base_cmd

[2021-02-19 13:29] bergtholdt opened #85 "Spaces in path break preview"
When I have spaces in the path (directory, have not tested on file-names), then the preview using <Tab> won't work. I can still jump to the file-location with <CR>, though. In the example I used a folder "a b" for demonstration.

![image](https://user-images.githubusercontent.com/204942/108510446-cf2b3480-72be-11eb-80ee-ff786f63f2f9.png)

[2021-03-13 17:57] fourjay opened #87 "Feature Request: consider adding support for adding lang_map definitions"
It'd be nice to add support for custom language definitions.

It looks like it maybe could be done by exposing ``lang_map#add_definition()``?

[2021-05-17 22:32] jeebak opened #88 "Last cursor position lost"
HI there,

I just installed this plugin and am enjoying it so far, but I'm running into unexpected behavior. After invoking `AnyJump` it seems the cursor is moved to the top of the buffer before the popup is opened, and worse the cursor is left near the top of the buffer when the popup's closed (via `esc`/`q`.) I'd've expected the cursor to be placed back at the original position before `AnyJump`

[2021-05-28 13:27] rktjmp opened #89 "Feature Request: Push results to quickfix list"
It would be great if I could send my any-jump results to the quickfix list.

If it came with it's own command to map separately, that would be helpful too (i.e. so I can do `nmap <leader>jq :AnyJumpToQF<CR>`)

Doing something like `:grep <cword>` doesn't have the excellent SNR that any-jump has.

[2021-06-02 13:47] matthewmoto commented on #88
I just wanted to leave a note that I'm experiencing this as well running Vim 8.2 under Cygwin _(yuck, I know)_, in case there was any questions of NeoVim vs Vim or versioning.  I'm available as a guinea pig for testing fixes as well.

It's a frequent use case that I'll hit `esc` after realizing that the term I have under the cursor is not the one I want to search (huge code-base).

[2021-06-02 19:23] jeebak commented on #88
The workaround I'm using is wrapping the call using bling's [Preserve](https://github.com/bling/dotvim/blob/d84e501bd12f9c6887599ace398fe26f542e8f6e/vimrc#L105-L115) function, thusly:

[code]

[2021-06-05 14:44] hyche commented on #84
I use fish, and this also happens for me, but different error
![image](https://user-images.githubusercontent.com/16851767/120895453-27582d80-c647-11eb-9c8c-5f8b9b599a29.png)

[2021-06-09 16:13] trashhalo opened #91 "go to definition support"
https://vim.fandom.com/wiki/Go_to_definition_using_g

Is there a way to plug into the default vim bindings?

[2021-06-09 20:22] trashhalo commented on #91
I was curious how this worked in the vim-go plugin and they just nmap gd. Im just going to do that in my vimrc, feel free to close if you dont want to do that in plugin:

https://github.com/fatih/vim-go/blob/00c5f2dad170131c0c850dbf331d63ddf515116d/ftplugin/go.vim#L41

[2021-06-09 20:24] trashhalo opened #92 "I am feeling lucky command"
I'd like a command to find and jump to the first known definition. Rather than having to jj down to the line then o to open.

[2021-06-10 10:43] conor-f opened #93 "Crash/Hang when Running from Large Directory"
I opened a file in a distant subdirectory today without `cd`ing into it:

[code]

and `:AnyJump` hung in a way that was difficult to exit. I presume this is because it was running the search from `~/` instead of looking specifically within subdirectories? I imagine there could be some bit of optimization made where it could recursively look in directories back from the current file path. e.g. from

[2021-07-08 00:18] dkalowsk commented on #71
@pseregiet  thanks for the initial leg work here.  I was seeing a similar issue for C files that I was using as well, although the error message wasn't providing a file or line... just error.  From what I could see, it looked like the C regexs for any-jump were all PCRE2 only.

I ended up changing the line to support rg v12 and 13 and got it working locally with:
[code]

[2021-07-17 17:24] daedroza opened #94 "Unable to use any function in large respository"
Hi, I'm using neovim 0.5 with ripgrep installed. The project I'm using anyjump is linked [here](https://github.com/LineageOS/android_kernel_sony_apq8064). I get the following error when using any AnyJump command.

[code]

No idea what's wrong here, I'm new to neovim and vim world. Any help is appreciated. Thanks!

[2021-07-28 14:48] daedroza commented on #94
Closing this due to inactivity.

[2021-07-28 14:48] #94 closed

[2021-12-07 22:09] goolord opened #95 "Haskell: jump not working"
![image](https://user-images.githubusercontent.com/24906808/145113735-3d211f9c-e813-4ac2-8f10-80c0b4acd0a9.png)

[2021-12-12 21:44] pechorin commented on #95
Fixed, please try new version

[2021-12-12 21:44] #95 closed

[2021-12-12 22:08] goolord commented on #95
yaay ❤️ thanks so much, this is going to help me a lot at work now :)

[2021-12-27 14:53] isabelgk opened #97 "Customizable options to base rg and ag commands"
Would it be possible to allow users to customize the `rg_base_cmd` and `ag_base_cmd` options? In order to work around #71, I've edited my local copy of `search.vim`, but it would be nice if I could specify it in my base `init.vim` instead of in the plugin itself (which can get written over if I update all my plugins).

Thanks for considering.

[2022-01-13 05:16] #77 closed

[2022-07-29 04:29] drinkitup777 commented on #93
Alternatively, we could limit the search area to only files in the current buffer's codebase.

We can do this by traveling up the directory tree, starting from `%:p:h` and ending with `/`, looking for "project root marker" files, e.g. `.git`, `.svn`, `.root`, `_darcs`, etc. Then once we find the root directory for the project, search only that directory.

If no root markers are found, then it's no

[2022-09-09 17:36] younger-1 opened #98 "Move images in ./assets folder to issues"
This can reduce the repo size significantly!

[2022-09-18 01:27] louisrc3ys opened #99 "When i use the anyjump, The following error prompt appears"
[code]

Strangely, in other text can be used, like the .c or .py... will appear error prompt

[2022-09-19 11:44] pechorin commented on #99
Will look at this problem at current week.

[2022-09-20 01:53] louisrc3ys commented on #99
Thank you! I love this plugin, But I can not use it anytime and it will be a pity

[2022-09-20 23:01] pechorin commented on #99
What version of ripgrep do you use?

[2022-09-20 23:04] pechorin commented on #99
I try https://github.com/microsoft/mimalloc and it works, maybe your ripgrep version is outdated?

[2022-09-21 08:35] louisrc3ys commented on #99
my use version is 13.0.0

[2022-09-22 22:52] pechorin commented on #99
okay this is the latest, and what about vim/nvim version?

[2022-09-23 00:42] louisrc3ys commented on #99
nvim version is 0.7.2, Now I find that sometimes I can use it, sometimes the wrong prompt, I don't know why😂

[2022-09-23 09:43] pechorin commented on #99
Can you help me and give some repo example on github (c lang/python), where
anyjump isn't work properly?

On Fri, Sep 23, 2022 at 3:42 AM louisrc3ys ***@***.***> wrote:

--
Андрей Печорин

[2022-09-24 11:32] louisrc3ys commented on #99
Example for the same C file:
In lspsaga
![2022-09-24_19-26](https://user-images.githubusercontent.com/71259902/192095618-f40c393a-2dbb-40f2-ade4-1df2319d0e45.png)

In AngJump

![2022-09-24_19-27](https://user-images.githubusercontent.com/71259902/192095633-6152bfb6-4441-4748-8ea8-f5952f837c80.png)

[2022-09-25 09:46] louisrc3ys commented on #99
Sometimes these errors can occur.
![2022-09-25_17-40](https://user-images.githubusercontent.com/71259902/192137529-9c93ecc0-acea-4383-aa17-989884ec53c7.png)

[2022-10-11 20:31] #85 closed

[2022-10-28 21:45] pechorin opened #101 "road to 1.0"
- [x] fully automated downloading/generation/correction
- [ ] latest languages from dumb-jump
- [ ] updated roadmap & docs
- [ ] fix major issues
- [ ] move popup to window
- [ ] move images to s3
- [ ] custom languages support
- [ ] group by path
- [ ] folders priorities
- [ ] .aj.ini for dynamic folders usages (or with options)

[2022-11-25 07:13] jaredgorski opened #102 "TS and JS pattern definition causes error on RunXDefinitionSearch"
Running any-jump inside a Typescript or Javascript project results in the following error:

<img width="906" alt="Screen Shot 2022-11-24 at 10 50 49 PM" src="https://user-images.githubusercontent.com/36674760/203918235-ce6b1227-5a6c-459c-9cb3-6ff480a02f7a.png">

text:
[code]

I troubleshot this error and was able to trace it to the patterns being generated for Typescript and Javascript.
I can fix

[2022-11-25 13:54] pechorin commented on #102
Hello! Thanks for report.
What is your vim/neovim version? is rg latest version?
What is your env/osx? And please provide info: is this bash or zsh?

And another one: is this source code for this project public?

[2022-11-26 03:57] jaredgorski commented on #102
No problem!

- Vim 8.2
- rg is latest 13.0.0 (ran `cargo install` yesterday just to make sure)
- MacOS Big Sur
- zsh
- I've reproduced this on all TS and JS projects I've tried, both private and public. If you'd like a reference, you can try [nonplain.js](https://github.com/nonplain/nonplain.js) (not the original project I had the error on, but I can reproduce it with this one too)

[2022-11-26 04:11] jaredgorski commented on #102
I just ran `PlugUpdate` on another machine I have and ran into the same issue. `any-jump` worked before `PlugUpdate` and was broken afterwards.

This is the `PlugDiff` ([info](https://github.com/junegunn/vim-plug/wiki/tutorial#reviewing-the-changes)):
[code]

[2022-11-29 21:50] bombamong commented on #102
Had a similar problem and this fixed the issue for me. Thx!

Using:
- NVIM v0.8.1
- ripgrep 13.0.0
- MacOS Ventura
- zsh
- working with Javascript files

Error Image:
<img width="1121" alt="image" src="https://user-images.githubusercontent.com/48914716/204654728-09b236ff-e476-4960-9100-8d7c4b4de4b3.png">

Changes:
![image](https://user-images.githubusercontent.com/48914716/204654908-e350b8ad-916b-

[2022-11-30 19:52] pechorin commented on #102
It's about latest commit :) sorry, I'll take a look at it in a couple of days, can't switch my brain to another conetxt right now :)

[2022-11-30 22:00] jaredgorski commented on #102
Take your time! Thanks for your plugin; it's by far my preference over ctags or other overengineered solutions. You rock.